.ui-notice {
    display: flex;
    gap: var(--space);
    align-items: flex-start;
    font-size: var(--theme-paragraph-20);
    color: var(--ui-notice-text-color);
    letter-spacing: var(--theme-paragraph-20-letter-spacing);
}

.ui-notice__links-wrapper {
    display: flex;
    flex-flow: column;
}

.ui-notice__link {
    font: var(--theme-paragraph-20-semibold);
    color: var(--ui-notice-text-color);
    cursor: pointer;
}

.ui-notice__link:hover {
    text-decoration: underline;
}

.ui-notice[data-t-style="banner"] {
    padding: var(--space-x2);
    border: 1px solid transparent;
    border-radius: var(--theme-border-radius-card);
}

.ui-notice[data-t-variant="normal"],
.ui-notice[data-t-variant="normal"] .ui-notice__link {
    --ui-notice-text-color: var(--theme-emphasis-text);
}

.ui-notice[data-t-style="banner"][data-t-variant="normal"] {
    background-color: var(--theme-emphasis-40);
    border-color: var(--theme-emphasis-30);
}

.ui-notice[data-t-variant="info"],
.ui-notice[data-t-variant="info"] .ui-notice__link {
    --ui-notice-text-color: var(--theme-text-20);
}

.ui-notice[data-t-style="banner"][data-t-variant="info"] {
    background-color: var(--theme-fill-40);
    border-color: var(--theme-fill-30);
}

.ui-notice[data-t-variant="success"],
.ui-notice[data-t-variant="success"] .ui-notice__link {
    --ui-notice-text-color: var(--theme-success-text);
}

.ui-notice[data-t-style="banner"][data-t-variant="success"] {
    --ui-notice-title-color: var(--theme-success-10);

    background-color: var(--theme-success-40);
    border-color: var(--theme-success-30);
}

.ui-notice[data-t-variant="warning"],
.ui-notice[data-t-variant="warning"] .ui-notice__link {
    --ui-notice-text-color: var(--theme-warning-text);
}

.ui-notice[data-t-style="banner"][data-t-variant="warning"] {
    --ui-notice-title-color: var(--theme-warning-10);

    background-color: var(--theme-warning-40);
    border-color: var(--theme-warning-30);
}

.ui-notice[data-t-variant="critical"],
.ui-notice[data-t-variant="critical"] .ui-notice__link {
    --ui-notice-text-color: var(--theme-critical-text);
}

.ui-notice[data-t-style="banner"][data-t-variant="critical"] {
    --ui-notice-title-color: var(--theme-critical-10);

    background-color: var(--theme-critical-40);
    border-color: var(--theme-critical-30);
}

.ui-notice__icon {
    --icon-size: var(--theme-heading-20-font-size);
    --material-icon-height: var(--icon-size);
    --material-icon-width: var(--icon-size);

    display: inline-flex;
    align-items: center;
    height: var(--icon-size);
}

.ui-notice[data-t-style="banner"][data-t-variant="info"] .ui-notice__icon {
    --ui-notice-text-color: var(--theme-emphasis-fill);
}

.ui-notice[data-t-style="banner"][data-t-variant="success"] .ui-notice__icon {
    --ui-notice-text-color: var(--theme-success-fill);
}

.ui-notice[data-t-style="banner"][data-t-variant="warning"] .ui-notice__icon {
    --ui-notice-text-color: var(--theme-warning-fill);
}

.ui-notice[data-t-style="banner"][data-t-variant="critical"] .ui-notice__icon {
    --ui-notice-text-color: var(--theme-critical-fill);
}

.ui-notice__title {
    font-weight: var(--theme-font-weight-semibold);
    color: var(--ui-notice-title-color);
}

.ui-notice__message {
    display: flex;
    flex-flow: column;
    gap: var(--space);
    justify-content: center;
    font-weight: var(--theme-font-weight-light);
    color: var(--ui-notice-text-color);
    white-space: wrap;
}

.ui-notice[data-t-style="banner"] .ui-notice__message {
    flex: 1;
}

.ui-notice__icon--close {
    --icon-size: var(--theme-heading-30-font-size);
    --material-icon-width: var(--icon-size);
    --material-icon-height: var(--icon-size);

    height: var(--icon-size);
    margin: 0 0 0 var(--space);
    color: var(--ui-notice-text-color);
    cursor: pointer;
}
