/* Multiple pills container */
.ui-pills-container {
    display: inline-flex;
    flex-wrap: wrap;
    gap: var(--space);
}

.ui-pill {
    --ui-pill-height: var(--space-x3);
    --ui-pill-height-small: var(--space-x2);

    display: inline-flex;
    align-items: center;
    height: min-content;
    min-height: var(--ui-pill-height);
    padding: calc(var(--space-half) / 2) var(--space-x1_5);
    font-size: var(--theme-font-size-minus-1);
    font-weight: var(--theme-font-weight-medium);
    text-wrap: nowrap;
    border-radius: var(--theme-border-radius-badge-pill);
}

.ui-pill[data-uppercase] {
    text-transform: uppercase;
}

.ui-pill[data-interactive] {
    cursor: pointer;
}

/* Size */
.ui-pill[data-t-size="small"] {
    min-height: var(--ui-pill-height-small);
    font-size: var(--theme-font-size-minus-2);
}

/* Shape */
.ui-pill[data-t-shape="squared"] {
    border-radius: 0;
}

.ui-pill[data-t-shape="rounded"] {
    border-radius: var(--theme-border-radius-badge-rounded);
}

.ui-pill[data-t-shape="rounded"][data-t-size] {
    border-radius: calc(var(--theme-border-radius-badge-rounded) / 2);
}

/* Fill */
.ui-pill[data-t-variant="fill"][data-t-type="info"] {
    color: var(--theme-pill-normal-text);
    background-color: var(--theme-pill-normal-fill);
}

.ui-pill[data-t-variant="fill"][data-t-type="info"][data-interactive]:hover {
    background-color: var(--theme-pill-normal-fill-hover);
}

.ui-pill[data-t-variant="fill"][data-t-type="success"] {
    color: var(--theme-pill-success-text);
    background-color: var(--theme-pill-success-fill);
}

.ui-pill[data-t-variant="fill"][data-t-type="success"][data-interactive]:hover {
    background-color: var(--theme-pill-success-fill-hover);
}

.ui-pill[data-t-variant="fill"][data-t-type="warning"] {
    color: var(--theme-pill-warning-text);
    background-color: var(--theme-pill-warning-fill);
}

.ui-pill[data-t-variant="fill"][data-t-type="warning"][data-interactive]:hover {
    background-color: var(--theme-pill-warning-fill-hover);
}

.ui-pill[data-t-variant="fill"][data-t-type="critical"] {
    color: var(--theme-pill-critical-text);
    background-color: var(--theme-pill-critical-fill);
}

.ui-pill[data-t-variant="fill"][data-t-type="critical"][data-interactive]:hover {
    background-color: var(--theme-pill-critical-fill-hover);
}

.ui-pill[data-t-variant="fill"][data-t-type="emphasis"] {
    color: var(--theme-pill-emphasis-text);
    background-color: var(--theme-pill-emphasis-fill);
}

.ui-pill[data-t-variant="fill"][data-t-type="emphasis"][data-interactive]:hover {
    background-color: var(--theme-pill-emphasis-fill-hover);
}

/* Outline */
.ui-pill[data-t-variant="outline"][data-t-type="info"] {
    color: var(--theme-pill-normal-text);
    border: 1px solid var(--theme-pill-normal-text);
}

.ui-pill[data-t-variant="outline"][data-t-type="info"][data-interactive]:hover {
    border-color: var(--theme-pill-normal-fill-hover);
}

.ui-pill[data-t-variant="outline"][data-t-type="success"] {
    color: var(--theme-pill-success-text);
    border: 1px solid var(--theme-pill-success-text);
}

.ui-pill[data-t-variant="outline"][data-t-type="success"][data-interactive]:hover {
    border-color: var(--theme-pill-success-fill-hover);
}

.ui-pill[data-t-variant="outline"][data-t-type="warning"] {
    color: var(--theme-pill-warning-text);
    border: 1px solid var(--theme-pill-warning-text);
}

.ui-pill[data-t-variant="outline"][data-t-type="warning"][data-interactive]:hover {
    border-color: var(--theme-pill-warning-fill-hover);
}

.ui-pill[data-t-variant="outline"][data-t-type="critical"] {
    color: var(--theme-pill-critical-text);
    border: 1px solid var(--theme-pill-critical-text);
}

.ui-pill[data-t-variant="outline"][data-t-type="critical"][data-interactive]:hover {
    border-color: var(--theme-pill-critical-fill-hover);
}

.ui-pill[data-t-variant="outline"][data-t-type="emphasis"] {
    color: var(--theme-pill-emphasis-text);
    border: 1px solid var(--theme-pill-emphasis-text);
}

.ui-pill[data-t-variant="outline"][data-t-type="emphasis"][data-interactive]:hover {
    border-color: var(--theme-pill-emphasis-fill-hover);
}

/* Text */
.ui-pill[data-t-variant="text"] {
    height: auto !important;
    padding: 0;
}

.ui-pill[data-t-variant="text"][data-t-type="info"] {
    color: var(--theme-pill-normal-text);
}

.ui-pill[data-t-variant="text"][data-t-type="success"] {
    color: var(--theme-pill-success-text);
}

.ui-pill[data-t-variant="text"][data-t-type="warning"] {
    color: var(--theme-pill-warning-text);
}

.ui-pill[data-t-variant="text"][data-t-type="critical"] {
    color: var(--theme-pill-critical-text);
}

.ui-pill[data-t-variant="text"][data-t-type="emphasis"] {
    color: var(--theme-pill-emphasis-text);
}
