.ui-button {
    /* Default */
    --ui-button-text-color: var(--theme-body-text-color);

    /* Primary Button - fill */
    --ui-button-primary-fill-font-name: var(--override-button-primary-fill-font-name, initial);
    --ui-button-primary-fill-font-name-hover: var(--override-button-primary-fill-font-name-hover, initial);
    --ui-button-primary-fill-font-weight: var(--override-button-primary-fill-font-weight, initial);
    --ui-button-primary-fill-font-weight-hover: var(--override-button-primary-fill-font-weight-hover, initial);
    --ui-button-primary-fill-font-italic: var(--override-button-primary-fill-font-italic, initial);
    --ui-button-primary-fill-font-italic-hover: var(--override-button-primary-fill-font-italic-hover, initial);
    --ui-button-primary-fill-font-underline: var(--override-button-primary-fill-font-underline, initial);
    --ui-button-primary-fill-font-underline-hover: var(--override-button-primary-fill-font-underline-hover, initial);
    --ui-button-primary-fill-width: var(--override-button-primary-fill-border-size, 0);
    --ui-button-primary-fill-text: var(--override-button-primary-fill-text, var(--theme-emphasis-fill-contrast));
    --ui-button-primary-fill-text-hover: var(--override-button-primary-fill-text-hover, var(--ui-button-primary-fill-text));
    --ui-button-primary-fill-text-disabled: var(--theme-text-30);
    --ui-button-primary-fill: var(--override-button-primary-fill, var(--theme-emphasis-fill));
    --ui-button-primary-fill-hover: var(--override-button-primary-fill-hover, var(--theme-emphasis-20));
    --ui-button-primary-fill-active: var(--override-button-primary-fill-active, var(--theme-emphasis-10));
    --ui-button-primary-fill-disabled: var(--theme-fill-40);
    --ui-button-primary-fill-outline-disabled: var(--theme-fill-30);

    /* Primary Button - outline */
    --ui-button-primary-outline-font-name: var(--override-button-primary-outline-font-name, initial);
    --ui-button-primary-outline-font-name-hover: var(--override-button-primary-outline-font-name-hover, initial);
    --ui-button-primary-outline-font-weight: var(--override-button-primary-outline-font-weight, initial);
    --ui-button-primary-outline-font-weight-hover: var(--override-button-primary-outline-font-weight-hover, initial);
    --ui-button-primary-outline-font-italic: var(--override-button-primary-outline-font-italic, initial);
    --ui-button-primary-outline-font-italic-hover: var(--override-button-primary-outline-font-italic-hover, initial);
    --ui-button-primary-outline-font-underline: var(--override-button-primary-outline-font-underline, initial);
    --ui-button-primary-outline-font-underline-hover: var(--override-button-primary-outline-font-underline-hover, initial);
    --ui-button-primary-outline-width: var(--override-button-primary-outline-border-size, 2px);
    --ui-button-primary-outline: var(--override-button-primary-outline, var(--ui-button-primary-fill));
    --ui-button-primary-outline-text: var(--override-button-primary-outline-text, var(--ui-button-primary-fill-text));
    --ui-button-primary-outline-hover: var(--override-button-primary-outline-hover, var(--ui-button-primary-outline));
    --ui-button-primary-outline-active: var(--override-button-primary-outline-active, var(--ui-button-primary-outline));
    --ui-button-primary-outline-bg-hover: var(--theme-fill-40);
    --ui-button-primary-outline-bg-active: var(--theme-fill-30);

    /* Primary Button - destructive */
    --ui-button-primary-destructive-text: var(--theme-critical-fill-contrast);
    --ui-button-primary-destructive: var(--theme-critical-fill);
    --ui-button-primary-destructive-fill-outline: var(--theme-critical-10);
    --ui-button-primary-destructive-hover: var(--theme-critical-20);
    --ui-button-primary-destructive-active: var(--theme-critical-10);
    --ui-button-primary-destructive-outline: var(--theme-critical-fill);
    --ui-button-primary-destructive-outline-text: var(--theme-critical-text);

    /* Secondary Button - fill */
    --ui-button-secondary-fill-font-name: var(--override-button-secondary-fill-font-name, initial);
    --ui-button-secondary-fill-font-name-hover: var(--override-button-secondary-fill-font-name-hover, initial);
    --ui-button-secondary-fill-font-weight: var(--override-button-secondary-fill-font-weight, initial);
    --ui-button-secondary-fill-font-weight-hover: var(--override-button-secondary-fill-font-weight-hover, initial);
    --ui-button-secondary-fill-font-italic: var(--override-button-secondary-fill-font-italic, initial);
    --ui-button-secondary-fill-font-italic-hover: var(--override-button-secondary-fill-font-italic-hover, initial);
    --ui-button-secondary-fill-font-underline: var(--override-button-secondary-fill-font-underline, initial);
    --ui-button-secondary-fill-font-underline-hover: var(--override-button-secondary-fill-font-underline-hover, initial);
    --ui-button-secondary-fill-width: var(--override-button-secondary-fill-border-size, 0);
    --ui-button-secondary-fill-width-hover: var(--override-button-secondary-fill-border-size-hover, var(--ui-button-secondary-fill-width));
    --ui-button-secondary-fill-text: var(--override-button-secondary-fill-text, var(--theme-emphasis-text));
    --ui-button-secondary-fill-text-hover: var(--override-button-secondary-fill-text-hover, var(--theme-emphasis-text));
    --ui-button-secondary-fill-text-active: var(--ui-button-secondary-fill-text-hover);
    --ui-button-secondary-fill-text-disabled: var(--override-button-secondary-fill-text-disabled, var(--theme-text-30));
    --ui-button-secondary-fill: var(--override-button-secondary-fill, var(--theme-fill-40));
    --ui-button-secondary-fill-hover: var(--override-button-secondary-fill-hover, var(--theme-emphasis-40));
    --ui-button-secondary-fill-active: var(--override-button-secondary-fill-active, var(--theme-emphasis-30));
    --ui-button-secondary-fill-disabled: var(--theme-fill-40);
    --ui-button-secondary-fill-outline: var(--override-button-secondary-fill-outline, transparent);
    --ui-button-secondary-fill-outline-hover: var(--override-button-secondary-fill-outline-hover, var(--ui-button-secondary-fill-outline));

    /* Secondary Button - outline */
    --ui-button-secondary-outline-font-name: var(--override-button-secondary-outline-font-name, initial);
    --ui-button-secondary-outline-font-name-hover: var(--override-button-secondary-outline-font-name-hover, initial);
    --ui-button-secondary-outline-font-weight: var(--override-button-secondary-outline-font-weight, initial);
    --ui-button-secondary-outline-font-weight-hover: var(--override-button-secondary-outline-font-weight-hover, initial);
    --ui-button-secondary-outline-font-italic: var(--override-button-secondary-outline-font-italic, initial);
    --ui-button-secondary-outline-font-italic-hover: var(--override-button-secondary-outline-font-italic-hover, initial);
    --ui-button-secondary-outline-font-underline: var(--override-button-secondary-outline-font-underline, initial);
    --ui-button-secondary-outline-font-underline-hover: var(--override-button-secondary-outline-font-underline-hover, initial);
    --ui-button-secondary-outline-width: var(--override-button-secondary-outline-border-size, 2px);
    --ui-button-secondary-outline-width-hover: var(--override-button-secondary-outline-border-size, var(--ui-button-secondary-outline-width));
    --ui-button-secondary-outline: var(--override-button-secondary-outline, var(--ui-button-secondary-fill));
    --ui-button-secondary-outline-hover: var(--override-button-secondary-outline-hover, var(--theme-fill-30));
    --ui-button-secondary-outline-active: var(--override-button-secondary-outline-hover);
    --ui-button-secondary-outline-disabled: var(--theme-fill-40);
    --ui-button-secondary-outline-text: var(--override-button-secondary-outline-text, var(--theme-emphasis-text));
    --ui-button-secondary-outline-text-hover: var(--override-button-secondary-outline-text-hover, var(--ui-button-secondary-outline-text));
    --ui-button-secondary-outline-bg-hover: var(--theme-fill-40);
    --ui-button-secondary-outline-bg-active: var(--theme-fill-30);

    /* Secondary Button - destructive */
    --ui-button-secondary-destructive-outline: var(--theme-fill-40);
    --ui-button-secondary-destructive-text: var(--theme-critical-text);
    --ui-button-secondary-destructive: var(--theme-fill-40);
    --ui-button-secondary-destructive-hover: var(--theme-critical-40);
    --ui-button-secondary-destructive-active: var(--theme-critical-30);

    /* Neutral Button - fill */
    --ui-button-neutral-fill-text: var(--theme-text-20);
    --ui-button-neutral-fill-bg: var(--theme-fill-40);
    --ui-button-neutral-fill-bg-hover: var(--theme-fill-35);
    --ui-button-neutral-fill-bg-active: var(--theme-fill-20);

    /* Neutral button - outline */
    --ui-button-neutral-outline-width: 1px;
    --ui-button-neutral-outline-text: var(--theme-text-20);
    --ui-button-neutral-outline-text-disabled: var(--theme-fill-20);
    --ui-button-neutral-outline: var(--theme-fill-30);
    --ui-button-neutral-outline-hover: var(--theme-emphasis-fill);
    --ui-button-neutral-outline-active: var(--theme-emphasis-fill);

    /* Neutral button - destructive */
    --ui-button-neutral-fill-destructive-text: var(--ui-button-secondary-destructive-text);
    --ui-button-neutral-fill-destructive-text-disabled: var(--ui-button-primary-fill-text-disabled);
    --ui-button-neutral-fill-destructive-bg: var(--ui-button-secondary-destructive);
    --ui-button-neutral-fill-destructive-bg-hover: var(--ui-button-secondary-destructive-hover);
    --ui-button-neutral-fill-destructive-bg-active: var(--ui-button-secondary-destructive-active);
    --ui-button-neutral-fill-destructive-bg-disabled: var(--ui-button-secondary-destructive);
    --ui-button-neutral-outline-destructive: var(--ui-button-secondary-destructive);
    --ui-button-neutral-outline-destructive-bg-hover: var(--theme-fill-40);
    --ui-button-neutral-outline-destructive-bg-active: var(--theme-fill-35);

    /* Tertiary Button */
    --ui-button-tertiary-text: var(--override-button-tertiary-text, var(--theme-emphasis-text)); /* shared with subtle button */
    --ui-button-tertiary-text-disabled: var(--theme-text-30);
    --ui-button-tertiary: transparent;
    --ui-button-tertiary-hover: var(--override-button-tertiary-hover, var(--theme-emphasis-40));
    --ui-button-tertiary-active: var(--override-button-tertiary-active, var(--theme-emphasis-30));

    /* Tertiary Button - destructive */
    --ui-button-tertiary-destructive-text: var(--ui-button-secondary-destructive-text);
    --ui-button-tertiary-destructive-bg: transparent;
    --ui-button-tertiary-destructive-bg-hover: var(--ui-button-secondary-destructive-hover);
    --ui-button-tertiary-destructive-bg-active: var(--ui-button-secondary-destructive-active);

    position: relative;
    display: flex;
    gap: var(--space);
    align-items: center;
    overflow: hidden;
    font-family: var(--theme-font-family-label);
    font-size: var(--theme-font-size-base);
    font-weight: var(--theme-font-weight-normal);
    line-height: var(--theme-line-height-base);
    color: var(--ui-button-text-color);
    cursor: pointer;
    border: none;
    border-radius: var(--ui-button-border-radius-override, var(--theme-border-radius-button-medium));
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.ui-button[data-disabled] {
    pointer-events: none;
    cursor: not-allowed;
}

.ui-button[data-hidden] {
    display: none;
}

.ui-button[data-fullwidth] {
    width: 100%;
}

.ui-button[data-opaque] {
    overflow: hidden;
}

.ui-button[data-opaque]::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
}

/* size */

.ui-button[data-t-size="compact"] {
    gap: var(--space-half);
    height: var(--theme-form-compact-height);
    padding: 0 var(--space-x1_5);
    font-size: var(--theme-font-size-minus-1);
    line-height: var(--theme-font-size-minus-1-line-height);
    border-radius: var(--ui-button-border-radius-override, var(--theme-border-radius-button-compact));
}

.ui-button[data-t-size="small"] {
    height: var(--theme-form-small-height);
    padding: 0 var(--space-x1_5);
    font-size: var(--theme-font-size-minus-1);
    line-height: var(--theme-font-size-minus-1-line-height);
    border-radius: var(--ui-button-border-radius-override, var(--theme-border-radius-button-small));
}

.ui-button[data-t-size="compact"].ui-button--icon-only {
    width: var(--theme-form-compact-height);
    padding: 0;
}

.ui-button[data-t-size="small"].ui-button--icon-only {
    width: var(--theme-form-small-height);
    padding: 0;
}

.ui-button[data-t-size="medium"] {
    height: var(--theme-form-medium-height);
    padding: 0 var(--space-x2);
}

.ui-button[data-t-size="medium"].ui-button--icon-only {
    width: var(--theme-form-medium-height);
    padding: 0;
}

.ui-button[data-t-size="large"] {
    height: var(--theme-form-large-height);
    padding: 0 var(--space-x2_5);
    border-radius: var(--ui-button-border-radius-override, var(--theme-border-radius-button-large));
}

.ui-button[data-t-size="large"].ui-button--icon-only {
    width: var(--theme-form-large-height);
    padding: 0;
}

.ui-button__label {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ui-button__sublabel {
    color: var(--ui-button-sublabel-color-override, inherit);
}

/* dropdown */
.ui-button[data-dropdown] {
    --dropdown-icon-padding: 8px; /* Material icon has extra space on the left/right of the icon */

    padding: 0;
}

.ui-button[data-dropdown].ui-button--icon-only {
    width: 100%;
}

.ui-button-dropdown__label {
    display: flex;
    gap: var(--space);
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.ui-button-dropdown__empty-label {
    justify-content: flex-end;
}

.ui-button-dropdown__label-wrapper .ui-button__label {
    font-size: var(--theme-font-size-minus-2);
    font-weight: var(--theme-font-weight-heavy);
}

.ui-button-dropdown__label-wrapper .ui-button__sublabel {
    font-size: var(--theme-font-size-minus-1);
}

.ui-button[data-dropdown] .ui-button__label,
.ui-button[data-dropdown] .ui-button__sublabel {
    flex: 1;
    text-align: left;
}

.ui-button[data-dropdown] .ui-button__sublabel {
    font-weight: var(--theme-font-weight-light);
}


.ui-button[data-dropdown] .ui-button__label--standalone {
    font-weight: var(--theme-font-weight-light);
    transition: font-size 0.2s, font-weight 0.1s ease 0.1s;
}

/* stylelint-disable-next-line no-descending-specificity */
.ui-button[data-dropdown]:not([toggleDisabled]):focus .ui-button__label--standalone,
.ui-button--focus[data-dropdown]:not([toggleDisabled]) .ui-button__label--standalone {
    position: relative;
    top: var(--space-half);
    align-self: start;
    font-size: var(--theme-font-size-minus-2);
    font-weight: var(--theme-font-weight-heavy);
}

.ui-button[data-t-size="large"][data-dropdown]:not([toggleDisabled]):focus .ui-button__label--standalone,
.ui-button[data-t-size="large"][data-dropdown]:not([toggleDisabled]).ui-button--focus .ui-button__label--standalone {
    top: var(--space);
    font-size: var(--theme-font-size-minus-1);
}

.ui-button[data-t-size="compact"][data-dropdown]:not([toggleDisabled]):focus .ui-button__label--standalone,
.ui-button[data-t-size="compact"][data-dropdown]:not([toggleDisabled]).ui-button--focus .ui-button__label--standalone {
    top: calc(var(--space-half) / 2);
    font-size: var(--theme-font-size-minus-2);
}

.ui-button[data-t-size="compact"] .ui-button-dropdown__label {
    padding-right: calc(var(--space-x1_5) - var(--dropdown-icon-padding));
    padding-left: var(--space-x1_5);

    /* There's not enough room to show a sublabel in compact buttons */
    .ui-button__sublabel {
        display: none;
    }
}

.ui-button[data-t-size="small"][data-dropdown]:not([toggleDisabled]):focus .ui-button__label--standalone,
.ui-button[data-t-size="small"][data-dropdown]:not([toggleDisabled]).ui-button--focus .ui-button__label--standalone {
    top: calc(var(--space-half) / 2);
    font-size: var(--theme-font-size-minus-2);
}

.ui-button[data-t-size="small"] .ui-button-dropdown__label {
    padding-right: calc(var(--space-x1_5) - var(--dropdown-icon-padding));
    padding-left: var(--space-x1_5);
}

.ui-button[data-t-size="medium"] .ui-button-dropdown__label {
    padding-right: calc(var(--space-x2) - var(--dropdown-icon-padding));
    padding-left: var(--space-x2);
}

.ui-button[data-t-size="large"] .ui-button-dropdown__label {
    padding-right: calc(var(--space-x2_5) - var(--dropdown-icon-padding));
    padding-left: var(--space-x2_5);
}

.ui-button-dropdown__label-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
}

.ui-button[data-t-size="small"] .ui-button-dropdown__label-wrapper .ui-button__label {
    font-size: var(--theme-font-size-minus-2);
    line-height: 1.2;
}

.ui-button[data-t-size="small"] .ui-button-dropdown__label-wrapper .ui-button__sublabel {
    font-size: var(--theme-font-size-minus-2);
    line-height: 1.2;
}

.ui-button[data-t-size="large"] .ui-button-dropdown__label-wrapper .ui-button__label {
    font-size: var(--theme-font-size-minus-1);
}

.ui-button[data-t-size="large"] .ui-button-dropdown__label-wrapper .ui-button__sublabel {
    font-size: var(--theme-font-size-minus-1);
}

.ui-button-dropdown--expanded,
.ui-button-dropdown--collapsed {
    transition: transform 0.2s;
}

.ui-button-dropdown--expanded {
    transform: rotate(-180deg);
}

.ui-button-dropdown--collapsed {
    transform: rotate(0deg);
}

.ui-button__icon--dropdown {
    --icon-size: 30px;
    --material-icon-width: var(--icon-size);
    --material-icon-height: var(--icon-size);
}

.ui-button[data-disabled] .ui-button__icon--prefix {
    opacity: 0.4;
}

/* alignment */
.ui-button[data-t-align="center"] {
    justify-content: center;
}

.ui-button[data-t-align="left"] {
    justify-content: left;
}

.ui-button[data-t-align="right"] {
    justify-content: right;
}

.ui-button[data-t-align="space-between"] {
    justify-content: space-between;
}

.ui-button[data-t-align="flex-end"] {
    justify-content: flex-end;
}

/* Primary fill */
.ui-button[data-t-variant="primary"][data-t-style="fill"],
.ui-button[data-t-variant="primary"][data-t-style="fill"][data-destructive] {
    --ui-button-text-color: var(--ui-button-primary-fill-text);

    font-family: var(--ui-button-primary-fill-font-name);
    font-style: var(--ui-button-primary-fill-font-italic);
    font-weight: var(--ui-button-primary-fill-font-weight);
    text-decoration: var(--ui-button-primary-fill-font-underline);
    background-color: var(--ui-button-primary-fill);
    border: var(--ui-button-primary-fill-width) solid var(--ui-button-primary-outline);
    border-radius: var(--ui-button-border-radius-override, var(--override-button-primary-fill-radius, var(--theme-border-radius-button-medium)));
    box-shadow: var(--override-button-primary-fill-shadow, none);
}

.ui-button[data-t-variant="primary"][data-t-style="fill"]:focus {
    --ui-button-text-color: var(--ui-button-primary-fill-text-hover);

    background-color: var(--ui-button-primary-fill-active);
    border-color: var(--ui-button-primary-outline-active);
    box-shadow: var(--override-button-primary-fill-shadow-hover, none);
}

.ui-button[data-t-variant="primary"][data-t-style="fill"]:not(.ui-button--disable-hover):hover {
    --ui-button-text-color: var(--ui-button-primary-fill-text-hover);

    font-family: var(--ui-button-primary-fill-font-name-hover);
    font-style: var(--ui-button-primary-fill-font-italic-hover);
    font-weight: var(--ui-button-primary-fill-font-weight-hover);
    text-decoration: var(--ui-button-primary-fill-font-underline-hover);
    background-color: var(--ui-button-primary-fill-hover);
    border-color: var(--ui-button-primary-outline-hover);
    box-shadow: var(--override-button-primary-fill-shadow-hover, none);
}

.ui-button[data-t-variant="primary"][data-t-style="fill"][data-destructive] {
    --ui-button-text-color: var(--ui-button-primary-destructive-text);

    background-color: var(--ui-button-primary-destructive);
    border-color: var(--ui-button-primary-destructive-fill-outline);
}

.ui-button[data-t-variant="primary"][data-t-style="fill"][data-destructive]:focus {
    background-color: var(--ui-button-primary-destructive-active);
    box-shadow: var(--override-button-primary-fill-shadow-hover, none);
}

.ui-button[data-t-variant="primary"][data-t-style="fill"][data-t-size="compact"],
.ui-button[data-t-variant="primary"][data-t-style="fill"][data-t-size="compact"][data-destructive] {
    border-radius: var(--ui-button-border-radius-override, var(--override-button-primary-fill-radius, var(--theme-border-radius-button-compact)));
}

.ui-button[data-t-variant="primary"][data-t-style="fill"][data-t-size="small"],
.ui-button[data-t-variant="primary"][data-t-style="fill"][data-t-size="small"][data-destructive] {
    border-radius: var(--ui-button-border-radius-override, var(--override-button-primary-fill-radius, var(--theme-border-radius-button-small)));
}

.ui-button[data-t-variant="primary"][data-t-style="fill"][data-t-size="large"],
.ui-button[data-t-variant="primary"][data-t-style="fill"][data-t-size="large"][data-destructive] {
    border-radius: var(--ui-button-border-radius-override, var(--override-button-primary-fill-radius, var(--theme-border-radius-button-large)));
}

/* stylelint-disable-next-line no-descending-specificity */
.ui-button[data-t-variant="primary"][data-t-style="fill"]:disabled,
.ui-button[data-t-variant="primary"][data-t-style="fill"][data-destructive]:disabled {
    --ui-button-text-color: var(--ui-button-primary-fill-text-disabled);

    background-color: var(--ui-button-primary-fill-disabled);
    border-color: var(--ui-button-primary-fill-outline-disabled);
}

.ui-button[data-t-variant="primary"][data-t-style="fill"][data-destructive]:not(.ui-button--disable-hover):hover {
    background-color: var(--ui-button-primary-destructive-hover);
    box-shadow: var(--override-button-primary-fill-shadow-hover, none);
}

.ui-button[data-t-variant="primary"][data-t-style="fill"][data-opaque]:disabled,
.ui-button[data-t-variant="primary"][data-t-style="fill"][data-destructive][data-opaque]:disabled {
    background-color: var(--button-opaque-base-override, var(--theme-body-color));
}

.ui-button[data-t-variant="primary"][data-t-style="fill"][data-opaque]:disabled::before {
    background-color: var(--ui-button-primary-fill-disabled);
}

/* Primary outline */
.ui-button[data-t-variant="primary"][data-t-style="outline"],
.ui-button[data-t-variant="primary"][data-t-style="outline"][data-destructive] {
    --ui-button-text-color: var(--ui-button-primary-outline);

    font-family: var(--ui-button-primary-outline-font-name);
    font-style: var(--ui-button-primary-outline-font-italic);
    font-weight: var(--ui-button-primary-outline-font-weight);
    text-decoration: var(--ui-button-primary-outline-font-underline);
    background-color: transparent;
    border: var(--ui-button-primary-outline-width) solid var(--ui-button-primary-outline);
    border-radius: var(--ui-button-border-radius-override, var(--override-button-primary-outline-radius, var(--theme-border-radius-button-medium)));
    box-shadow: var(--override-button-primary-outline-shadow, none);
}

.ui-button[data-t-variant="primary"][data-t-style="outline"][data-destructive] {
    --ui-button-text-color: var(--ui-button-primary-destructive-outline-text);

    border-color: var(--ui-button-primary-destructive-outline);
}

.ui-button[data-t-variant="primary"][data-t-style="outline"]:focus,
.ui-button[data-t-variant="primary"][data-t-style="outline"][data-destructive]:focus {
    background-color: var(--ui-button-primary-outline-bg-active);
    box-shadow: var(--override-button-primary-outline-shadow-hover, none);
}

.ui-button[data-t-variant="primary"][data-t-style="outline"][data-destructive]:focus {
    border-color: var(--ui-button-primary-destructive-active);
}

.ui-button[data-t-variant="primary"][data-t-style="outline"]:focus {
    border-color: var(--ui-button-primary-outline-active);
}

.ui-button[data-t-variant="primary"][data-t-style="outline"]:disabled,
.ui-button[data-t-variant="primary"][data-t-style="outline"][data-destructive]:disabled {
    --ui-button-text-color: var(--ui-button-primary-fill-text-disabled);

    border-color: var(--ui-button-primary-fill-disabled);
}

.ui-button[data-t-variant="primary"][data-t-style="outline"]:not(.ui-button--disable-hover):hover,
.ui-button[data-t-variant="primary"][data-t-style="outline"][data-destructive]:not(.ui-button--disable-hover):hover {
    font-family: var(--ui-button-primary-outline-font-name-hover);
    font-style: var(--ui-button-primary-outline-font-italic-hover);
    font-weight: var(--ui-button-primary-outline-font-weight-hover);
    text-decoration: var(--ui-button-primary-outline-font-underline-hover);
    background-color: var(--ui-button-primary-outline-bg-hover);
    box-shadow: var(--override-button-primary-outline-shadow-hover, none);
}

.ui-button[data-t-variant="primary"][data-t-style="outline"]:not(.ui-button--disable-hover):hover {
    border-color: var(--ui-button-primary-outline-hover);
}

.ui-button[data-t-variant="primary"][data-t-style="outline"][data-destructive]:not(.ui-button--disable-hover):hover {
    border-color: var(--ui-button-primary-destructive-hover);
}

.ui-button[data-t-variant="primary"][data-t-style="outline"][data-t-size="compact"],
.ui-button[data-t-variant="primary"][data-t-style="outline"][data-t-size="compact"][data-destructive] {
    border-radius: var(--ui-button-border-radius-override, var(--override-button-primary-outline-radius, var(--theme-border-radius-button-compact)));
}

.ui-button[data-t-variant="primary"][data-t-style="outline"][data-t-size="small"],
.ui-button[data-t-variant="primary"][data-t-style="outline"][data-t-size="small"][data-destructive] {
    border-radius: var(--ui-button-border-radius-override, var(--override-button-primary-outline-radius, var(--theme-border-radius-button-small)));
}

.ui-button[data-t-variant="primary"][data-t-style="outline"][data-t-size="large"],
.ui-button[data-t-variant="primary"][data-t-style="outline"][data-t-size="large"][data-destructive] {
    border-radius: var(--ui-button-border-radius-override, var(--override-button-primary-outline-radius, var(--theme-border-radius-button-large)));
}

/* stylelint-disable-next-line no-descending-specificity */
.ui-button[data-t-variant="primary"][data-t-style="outline"][data-opaque],
.ui-button[data-t-variant="primary"][data-t-style="outline"][data-destructive][data-opaque],
.ui-button[data-t-variant="primary"][data-t-style="outline"][data-opaque]:not(.ui-button--disable-hover):hover,
.ui-button[data-t-variant="primary"][data-t-style="outline"][data-destructive][data-opaque]:not(.ui-button--disable-hover):hover,
.ui-button[data-t-variant="primary"][data-t-style="outline"][data-opaque]:focus,
.ui-button[data-t-variant="primary"][data-t-style="outline"][data-destructive][data-opaque]:focus {
    background-color: var(--button-opaque-base-override, var(--theme-body-color));
}

.ui-button[data-t-variant="primary"][data-t-style="outline"][data-opaque]:focus::before,
.ui-button[data-t-variant="primary"][data-t-style="outline"][data-destructive][data-opaque]:focus::before {
    background-color: var(--ui-button-primary-outline-bg-active);
}

.ui-button[data-t-variant="primary"][data-t-style="outline"][data-opaque]:not(.ui-button--disable-hover):hover::before,
.ui-button[data-t-variant="primary"][data-t-style="outline"][data-destructive][data-opaque]:not(.ui-button--disable-hover):hover::before {
    background-color: var(--ui-button-primary-outline-bg-hover);
}

/* Secondary fill */
.ui-button[data-t-variant="secondary"][data-t-style="fill"],
.ui-button[data-t-variant="secondary"][data-t-style="fill"][data-destructive] {
    --ui-button-text-color: var(--ui-button-secondary-fill-text);

    font-family: var(--ui-button-secondary-fill-font-name);
    font-style: var(--ui-button-secondary-fill-font-italic);
    font-weight: var(--ui-button-secondary-fill-font-weight);
    text-decoration: var(--ui-button-secondary-fill-font-underline);
    background-color: var(--ui-button-secondary-fill);
    border: var(--ui-button-secondary-fill-width) solid var(--ui-button-secondary-fill-outline);
    border-radius: var(--ui-button-border-radius-override, var(--override-button-secondary-fill-radius, var(--theme-border-radius-button-medium)));
    box-shadow: var(--override-button-secondary-fill-shadow, none);
}

.ui-button[data-t-variant="secondary"][data-t-style="fill"]:focus {
    --ui-button-text-color: var(--ui-button-secondary-fill-text-hover);

    background-color: var(--ui-button-secondary-fill-active);
}

.ui-button[data-t-variant="secondary"][data-t-style="fill"]:not(.ui-button--disable-hover):hover {
    --ui-button-text-color: var(--ui-button-secondary-fill-text-hover);

    font-family: var(--ui-button-secondary-fill-font-name-hover);
    font-style: var(--ui-button-secondary-fill-font-italic-hover);
    font-weight: var(--ui-button-secondary-fill-font-weight-hover);
    text-decoration: var(--ui-button-secondary-fill-font-underline-hover);
    background-color: var(--ui-button-secondary-fill-hover);
    border-color: var(--ui-button-secondary-fill-outline-hover);
    border-width: var(--ui-button-secondary-fill-width-hover);
    box-shadow: var(--override-button-secondary-fill-shadow-hover, none);
}

.ui-button[data-t-variant="secondary"][data-t-style="fill"][data-destructive] {
    --ui-button-text-color: var(--ui-button-secondary-destructive-text);

    background-color: var(--ui-button-secondary-destructive);
    border-color: var(--ui-button-secondary-destructive-outline);
}

.ui-button[data-t-variant="secondary"][data-t-style="fill"][data-destructive]:focus {
    background-color: var(--ui-button-secondary-destructive-active);
}

/* stylelint-disable-next-line no-descending-specificity */
.ui-button[data-t-variant="secondary"][data-t-style="fill"]:disabled,
.ui-button[data-t-variant="secondary"][data-t-style="fill"][data-destructive]:disabled {
    --ui-button-text-color: var(--ui-button-secondary-fill-text-disabled);

    background-color: var(--ui-button-secondary-fill-disabled);
}

.ui-button[data-t-variant="secondary"][data-t-style="fill"][data-destructive]:not(.ui-button--disable-hover):hover {
    --ui-button-text-color: var(--ui-button-secondary-destructive-text);

    background-color: var(--ui-button-secondary-destructive-hover);
}

.ui-button[data-t-variant="secondary"][data-t-style="fill"][data-t-size="compact"],
.ui-button[data-t-variant="secondary"][data-t-style="fill"][data-t-size="compact"][data-destructive] {
    border-radius: var(--ui-button-border-radius-override, var(--override-button-secondary-fill-radius, var(--theme-border-radius-button-compact)));
}

.ui-button[data-t-variant="secondary"][data-t-style="fill"][data-t-size="small"],
.ui-button[data-t-variant="secondary"][data-t-style="fill"][data-t-size="small"][data-destructive] {
    border-radius: var(--ui-button-border-radius-override, var(--override-button-secondary-fill-radius, var(--theme-border-radius-button-small)));
}

.ui-button[data-t-variant="secondary"][data-t-style="fill"][data-t-size="large"],
.ui-button[data-t-variant="secondary"][data-t-style="fill"][data-t-size="large"][data-destructive] {
    border-radius: var(--ui-button-border-radius-override, var(--override-button-secondary-fill-radius, var(--theme-border-radius-button-large)));
}

/* stylelint-disable-next-line no-descending-specificity */
.ui-button[data-t-variant="secondary"][data-t-style="fill"][data-opaque],
.ui-button[data-t-variant="secondary"][data-t-style="fill"][data-destructive][data-opaque],
.ui-button[data-t-variant="secondary"][data-t-style="fill"][data-opaque]:not(.ui-button--disable-hover):hover,
.ui-button[data-t-variant="secondary"][data-t-style="fill"][data-opaque]:focus {
    background-color: var(--button-opaque-base-override, var(--theme-body-color));
}

.ui-button[data-t-variant="secondary"][data-t-style="fill"][data-opaque]::before {
    background-color: var(--ui-button-secondary-fill);
}

.ui-button[data-t-variant="secondary"][data-t-style="fill"][data-destructive][data-opaque]::before {
    background-color: var(--ui-button-secondary-destructive);
}

/* stylelint-disable-next-line no-descending-specificity */
.ui-button[data-t-variant="secondary"][data-t-style="fill"][data-opaque]:focus {
    background-color: var(--ui-button-secondary-fill-active);
}

.ui-button[data-t-variant="secondary"][data-t-style="fill"][data-destructive][data-opaque]:focus {
    background-color: var(--ui-button-secondary-destructive-active);
}

.ui-button[data-t-variant="secondary"][data-t-style="fill"][data-opaque]:not(.ui-button--disable-hover):hover {
    background-color: var(--ui-button-secondary-fill-hover);
}

.ui-button[data-t-variant="secondary"][data-t-style="fill"][data-destructive][data-opaque]:not(.ui-button--disable-hover):hover {
    background-color: var(--ui-button-secondary-destructive-hover);
}


/* Secondary outline */
.ui-button[data-t-variant="secondary"][data-t-style="outline"],
.ui-button[data-t-variant="secondary"][data-t-style="outline"][data-destructive] {
    --ui-button-text-color: var(--ui-button-secondary-outline-text);

    font-family: var(--ui-button-secondary-outline-font-name);
    font-style: var(--ui-button-secondary-outline-font-italic);
    font-weight: var(--ui-button-secondary-outline-font-weight);
    text-decoration: var(--ui-button-secondary-outline-font-underline);
    background-color: transparent;
    border: var(--ui-button-secondary-outline-width) solid var(--ui-button-secondary-outline);
    border-radius: var(--ui-button-border-radius-override, var(--override-button-secondary-outline-radius, var(--theme-border-radius-button-medium)));
    box-shadow: var(--override-button-secondary-outline-shadow, none);
}

.ui-button[data-t-variant="secondary"][data-t-style="outline"][data-destructive] {
    --ui-button-text-color: var(--ui-button-secondary-destructive-text);

    background-color: transparent;
    border-color: var(--ui-button-secondary-destructive-outline);
}

.ui-button[data-t-variant="secondary"][data-t-style="outline"]:focus,
.ui-button[data-t-variant="secondary"][data-t-style="outline"][data-destructive]:focus {
    background-color: var(--ui-button-secondary-outline-bg-active);
    box-shadow: var(--override-button-secondary-outline-shadow-hover, none);
}

.ui-button[data-t-variant="secondary"][data-t-style="outline"]:focus {
    --ui-button-text-color: var(--ui-button-secondary-outline-text-hover);

    border-color: var(--ui-button-secondary-outline-active);
    border-width: var(--ui-button-secondary-outline-width-hover);
}

.ui-button[data-t-variant="secondary"][data-t-style="outline"]:disabled,
.ui-button[data-t-variant="secondary"][data-t-style="outline"][data-destructive]:disabled {
    --ui-button-text-color: var(--ui-button-secondary-fill-text-disabled);

    border-color: var(--ui-button-secondary-outline-disabled);
}

.ui-button[data-t-variant="secondary"][data-t-style="outline"][data-destructive]:focus {
    --ui-button-text-color: var(--ui-button-secondary-destructive-text);

    border-color: var(--ui-button-secondary-destructive-outline);
}

.ui-button[data-t-variant="secondary"][data-t-style="outline"]:not(.ui-button--disable-hover):hover,
.ui-button[data-t-variant="secondary"][data-t-style="outline"][data-destructive]:not(.ui-button--disable-hover):hover {
    font-family: var(--ui-button-secondary-outline-font-name-hover);
    font-style: var(--ui-button-secondary-outline-font-italic-hover);
    font-weight: var(--ui-button-secondary-outline-font-weight-hover);
    text-decoration: var(--ui-button-secondary-outline-font-underline-hover);
    background-color: var(--ui-button-secondary-outline-bg-hover);
    box-shadow: var(--override-button-secondary-outline-shadow-hover, none);
}

.ui-button[data-t-variant="secondary"][data-t-style="outline"]:not(.ui-button--disable-hover):hover {
    --ui-button-text-color: var(--ui-button-secondary-outline-text-hover);

    border-color: var(--ui-button-secondary-outline-hover);
    border-width: var(--ui-button-secondary-outline-width-hover);
}

.ui-button[data-t-variant="secondary"][data-t-style="outline"][data-destructive]:not(.ui-button--disable-hover):hover {
    --ui-button-text-color: var(--ui-button-secondary-destructive-text);

    border-color: var(--ui-button-secondary-destructive-outline);
}

.ui-button[data-t-variant="secondary"][data-t-style="outline"][data-t-size="compact"],
.ui-button[data-t-variant="secondary"][data-t-style="outline"][data-t-size="compact"][data-destructive] {
    border-radius: var(--ui-button-border-radius-override, var(--override-button-secondary-outline-radius, var(--theme-border-radius-button-compact)));
}

.ui-button[data-t-variant="secondary"][data-t-style="outline"][data-t-size="small"],
.ui-button[data-t-variant="secondary"][data-t-style="outline"][data-t-size="small"][data-destructive] {
    border-radius: var(--ui-button-border-radius-override, var(--override-button-secondary-outline-radius, var(--theme-border-radius-button-small)));
}

.ui-button[data-t-variant="secondary"][data-t-style="outline"][data-t-size="large"],
.ui-button[data-t-variant="secondary"][data-t-style="outline"][data-t-size="large"][data-destructive] {
    border-radius: var(--ui-button-border-radius-override, var(--override-button-secondary-outline-radius, var(--theme-border-radius-button-large)));
}

/* stylelint-disable-next-line no-descending-specificity */
.ui-button[data-t-variant="secondary"][data-t-style="outline"][data-opaque],
.ui-button[data-t-variant="secondary"][data-t-style="outline"][data-destructive][data-opaque],
.ui-button[data-t-variant="secondary"][data-t-style="outline"][data-opaque]:not(.ui-button--disable-hover):hover,
.ui-button[data-t-variant="secondary"][data-t-style="outline"][data-destructive][data-opaque]:not(.ui-button--disable-hover):hover,
.ui-button[data-t-variant="secondary"][data-t-style="outline"][data-opaque]:focus,
.ui-button[data-t-variant="secondary"][data-t-style="outline"][data-destructive][data-opaque]:focus {
    background-color: var(--button-opaque-base-override, var(--theme-body-color));
}

.ui-button[data-t-variant="secondary"][data-t-style="outline"]:not(.ui-button--disable-hover):hover::before,
.ui-button[data-t-variant="secondary"][data-t-style="outline"][data-destructive]:not(.ui-button--disable-hover):hover::before {
    background-color: var(--ui-button-secondary-outline-bg-hover);
}

.ui-button[data-t-variant="secondary"][data-t-style="outline"][data-opaque]:focus::before,
.ui-button[data-t-variant="secondary"][data-t-style="outline"][data-destructive][data-opaque]:focus::before {
    background-color: var(--ui-button-secondary-outline-bg-active);
}

/* Neutral fill */
.ui-button[data-t-variant="neutral"][data-t-style="fill"] {
    --ui-button-text-color: var(--ui-button-neutral-fill-text);

    background-color: var(--ui-button-neutral-fill-bg);
}

.ui-button[data-t-variant="neutral"][data-t-style="fill"],
.ui-button[data-t-variant="neutral"][data-t-style="fill"][data-destructive],
.ui-button[data-t-variant="neutral"][data-t-style="fill"]:disabled {
    border-radius: var(--theme-border-radius-input-medium);
}

.ui-button[data-t-variant="neutral"][data-t-style="fill"]:focus {
    background-color: var(--ui-button-neutral-fill-bg-active);
}

.ui-button[data-t-variant="neutral"][data-t-style="fill"]:not(.ui-button--disable-hover):hover {
    background-color: var(--ui-button-neutral-fill-bg-hover);
}

.ui-button[data-t-variant="neutral"][data-t-style="fill"][data-destructive] {
    --ui-button-text-color: var(--ui-button-neutral-fill-destructive-text);

    background-color: var(--ui-button-neutral-fill-destructive-bg);
}

.ui-button[data-t-variant="neutral"][data-t-style="fill"][data-destructive]:focus {
    background-color: var(--ui-button-neutral-fill-destructive-bg-active);
}

.ui-button[data-t-variant="neutral"][data-t-style="fill"][data-t-size="compact"],
.ui-button[data-t-variant="neutral"][data-t-style="fill"][data-t-size="compact"][data-destructive],
.ui-button[data-t-variant="neutral"][data-t-style="fill"][data-t-size="compact"]:disabled {
    border-radius: var(--theme-border-radius-input-compact);
}

.ui-button[data-t-variant="neutral"][data-t-style="fill"][data-t-size="small"],
.ui-button[data-t-variant="neutral"][data-t-style="fill"][data-t-size="small"][data-destructive],
.ui-button[data-t-variant="neutral"][data-t-style="fill"][data-t-size="small"]:disabled {
    border-radius: var(--theme-border-radius-input-small);
}

.ui-button[data-t-variant="neutral"][data-t-style="fill"][data-t-size="large"],
.ui-button[data-t-variant="neutral"][data-t-style="fill"][data-t-size="large"][data-destructive],
.ui-button[data-t-variant="neutral"][data-t-style="fill"][data-t-size="large"]:disabled {
    border-radius: var(--theme-border-radius-input-large);
}

/* stylelint-disable-next-line no-descending-specificity */
.ui-button[data-t-variant="neutral"][data-t-style="fill"]:disabled,
.ui-button[data-t-variant="neutral"][data-t-style="fill"][data-destructive]:disabled {
    --ui-button-text-color: var(--ui-button-neutral-fill-destructive-text-disabled);

    background-color: var(--ui-button-neutral-fill-destructive-bg-disabled);
}

.ui-button[data-t-variant="neutral"][data-t-style="fill"][data-destructive]:not(.ui-button--disable-hover):hover {
    background-color: var(--ui-button-neutral-fill-destructive-bg-hover);
}

.ui-button[data-t-variant="neutral"][data-t-style="fill"][data-dropdown]:not([data-destructive]) .ui-button__sublabel {
    color: var(--ui-button-sublabel-color-override, var(--theme-text-20));
}

/* stylelint-disable-next-line no-descending-specificity */
.ui-button[data-t-variant="neutral"][data-t-style="fill"][data-opaque],
.ui-button[data-t-variant="neutral"][data-t-style="fill"][data-opaque]:not(.ui-button--disable-hover):hover,
.ui-button[data-t-variant="neutral"][data-t-style="fill"][data-opaque]:disabled,
.ui-button[data-t-variant="neutral"][data-t-style="fill"][data-destructive][data-opaque]:disabled,
.ui-button[data-t-variant="neutral"][data-t-style="fill"][data-destructive][data-opaque]:not(.ui-button--disable-hover):hover,
.ui-button[data-t-variant="neutral"][data-t-style="fill"][data-destructive][data-opaque]:focus {
    background-color: var(--button-opaque-base-override, var(--theme-body-color));
}

.ui-button[data-t-variant="neutral"][data-t-style="fill"][data-opaque]:focus::before {
    background-color: var(--ui-button-neutral-fill-bg-active);
}

.ui-button[data-t-variant="neutral"][data-t-style="fill"][data-opaque]:not(:disabled)::before {
    background-color: var(--ui-button-neutral-fill-bg);
}

.ui-button[data-t-variant="neutral"][data-t-style="fill"][data-opaque]:disabled::before,
.ui-button[data-t-variant="neutral"][data-t-style="fill"][data-destructive][data-opaque]:disabled::before {
    background-color: var(--ui-button-neutral-fill-destructive-bg-disabled);
}

.ui-button[data-t-variant="neutral"][data-t-style="fill"][data-destructive][data-opaque]:focus::before {
    background-color: var(--ui-button-neutral-fill-destructive-bg-active);
}

.ui-button[data-t-variant="neutral"][data-t-style="fill"][data-opaque]:not(.ui-button--disable-hover):hover::before {
    background-color: var(--ui-button-neutral-fill-bg-hover);
}

.ui-button[data-t-variant="neutral"][data-t-style="fill"][data-destructive][data-opaque]:not(.ui-button--disable-hover):hover::before {
    background-color: var(--ui-button-neutral-fill-destructive-bg-hover);
}

/* Neutral outline */
.ui-button[data-t-variant="neutral"][data-t-style="outline"],
.ui-button[data-t-variant="neutral"][data-t-style="outline"][data-destructive] {
    --ui-button-text-color: var(--ui-button-neutral-outline-text);

    background-color: transparent;
    border: var(--ui-button-neutral-outline-width) solid var(--ui-button-neutral-outline);
    border-radius: var(--theme-border-radius-input-medium);
}

.ui-button[data-t-variant="neutral"][data-t-style="outline"]:focus,
.ui-button--focus.ui-button[data-t-variant="neutral"][data-t-style="outline"] {
    border: var(--ui-button-neutral-outline-width) solid var(--ui-button-neutral-outline-active);
    outline: var(--ui-button-neutral-outline-width) solid var(--ui-button-neutral-outline-active);
    outline-offset: calc(var(--ui-button-neutral-outline-width) * -2);
}

/* stylelint-disable-next-line no-descending-specificity */
.ui-button[data-t-variant="neutral"][data-t-style="outline"]:focus .ui-button__label--standalone,
.ui-button--focus.ui-button[data-t-variant="neutral"][data-t-style="outline"]:focus .ui-button__label--standalone {
    color: var(--theme-text-10);
}

.ui-button[data-t-variant="neutral"][data-t-style="outline"]:not(.ui-button--disable-hover):hover {
    border-color: var(--ui-button-neutral-outline-hover);
}

.ui-button[data-t-variant="neutral"][data-t-style="outline"][data-destructive]:not(:disabled) {
    border-color: var(--ui-button-neutral-outline-destructive);
}

.ui-button[data-t-variant="neutral"][data-t-style="outline"][data-destructive]:not(:disabled),
.ui-button[data-t-variant="neutral"][data-t-style="outline"][data-destructive]:focus .ui-button__label--standalone,
.ui-button[data-t-variant="neutral"][data-t-style="outline"][data-destructive]:not(:disabled) .ui-button__icon--suffix {
    color: var(--ui-button-neutral-fill-destructive-text);
}

.ui-button[data-t-variant="neutral"][data-t-style="outline"][data-destructive]:focus {
    background-color: var(--ui-button-neutral-outline-destructive-bg-active);
    border-color: var(--ui-button-neutral-outline-destructive);
    outline-color: var(--ui-button-neutral-outline-destructive);
}

/* stylelint-disable-next-line no-descending-specificity */
.ui-button[data-t-variant="neutral"][data-t-style="outline"]:disabled,
.ui-button[data-t-variant="neutral"][data-t-style="outline"][data-destructive]:disabled {
    background-color: var(--theme-fill-40);
    border-color: var(--theme-fill-40);
}

.ui-button[data-t-variant="neutral"][data-t-style="outline"][data-destructive]:not(.ui-button--disable-hover):hover {
    background-color: var(--ui-button-neutral-outline-destructive-bg-hover);
}

.ui-button[data-t-variant="neutral"][data-t-style="outline"][data-t-size="compact"],
.ui-button[data-t-variant="neutral"][data-t-style="outline"][data-t-size="compact"][data-destructive] {
    border-radius: var(--theme-border-radius-input-compact);
}

.ui-button[data-t-variant="neutral"][data-t-style="outline"][data-t-size="small"],
.ui-button[data-t-variant="neutral"][data-t-style="outline"][data-t-size="small"][data-destructive] {
    border-radius: var(--theme-border-radius-input-small);
}

.ui-button[data-t-variant="neutral"][data-t-style="outline"][data-t-size="large"],
.ui-button[data-t-variant="neutral"][data-t-style="outline"][data-t-size="large"][data-destructive] {
    border-radius: var(--theme-border-radius-input-large);
}

/* stylelint-disable-next-line no-descending-specificity */
.ui-button[data-t-variant="neutral"][data-t-style="outline"][data-opaque],
.ui-button[data-t-variant="neutral"][data-t-style="outline"][data-destructive][data-opaque],
.ui-button[data-t-variant="neutral"][data-t-style="outline"][data-opaque]:not(.ui-button--disable-hover):hover,
.ui-button[data-t-variant="neutral"][data-t-style="outline"][data-opaque]:focus,
.ui-button--focus.ui-button[data-t-variant="neutral"][data-t-style="outline"][data-opaque],
.ui-button[data-t-variant="neutral"][data-t-style="outline"][data-destructive][data-opaque]:not(.ui-button--disable-hover):hover {
    background-color: var(--button-opaque-base-override, var(--theme-body-color));
}

.ui-button[data-t-variant="neutral"][data-t-style="outline"][data-destructive][data-opaque]:focus::before {
    background-color: var(--ui-button-neutral-outline-destructive-bg-active);
}

.ui-button[data-t-variant="neutral"][data-t-style="outline"][data-destructive][data-opaque]:not(.ui-button--disable-hover):hover::before {
    background-color: var(--ui-button-neutral-outline-destructive-bg-hover);
}

.ui-button[data-t-variant="neutral"][data-t-style="outline"]:disabled::before,
.ui-button[data-t-variant="neutral"][data-t-style="outline"][data-destructive]:disabled::before {
    background-color: var(--theme-fill-40);
}

.ui-button[data-t-variant="neutral"][data-t-style="outline"]:not([data-destructive]) .ui-button-dropdown__label-wrapper .ui-button__label {
    color: var(--theme-text-10);
}

.ui-button[data-t-variant="neutral"][data-t-style="outline"]:not([data-destructive]) .ui-button-dropdown__label-wrapper .ui-button__sublabel {
    color: var(--ui-button-sublabel-color-override, var(--theme-text-10));
}

/* stylelint-disable-next-line no-descending-specificity */
.ui-button[data-t-variant="neutral"][data-t-style="outline"]:disabled .ui-button-dropdown__label-wrapper .ui-button__label,
.ui-button[data-t-variant="neutral"][data-t-style="outline"][data-destructive]:disabled .ui-button-dropdown__label-wrapper .ui-button__label,
.ui-button[data-t-variant="neutral"][data-t-style="outline"]:not([data-destructive]) .ui-button__label--standalone {
    color: var(--theme-text-20);
}

.ui-button[data-t-variant="neutral"][data-t-style="outline"]:disabled .ui-button-dropdown__label-wrapper .ui-button__sublabel,
.ui-button[data-t-variant="neutral"][data-t-style="outline"][data-destructive]:disabled .ui-button-dropdown__label-wrapper .ui-button__sublabel {
    color: var(--ui-button-sublabel-color-override, var(--theme-text-20));
}

/* stylelint-disable-next-line no-descending-specificity */
.ui-button[data-t-variant="neutral"][data-t-style="outline"][data-dropdown]:disabled .ui-button__label--standalone {
    color: var(--theme-text-30);
}

.ui-button[data-t-variant="neutral"][data-t-style="outline"][data-dropdown]:not([data-destructive]) .ui-button__icon--dropdown {
    color: var(--theme-fill-20);
}

/* Tertiary */
.ui-button[data-t-variant="tertiary"] {
    --ui-button-text-color: var(--ui-button-tertiary-text);

    background-color: var(--ui-button-tertiary);
}

.ui-button[data-t-variant="tertiary"]:focus {
    background-color: var(--ui-button-tertiary-active);
}

.ui-button[data-t-variant="tertiary"]:not(.ui-button--disable-hover):hover {
    background-color: var(--ui-button-tertiary-hover);
}

.ui-button[data-t-variant="tertiary"][data-destructive] {
    --ui-button-text-color: var(--ui-button-tertiary-destructive-text);

    background-color: var(--ui-button-tertiary-destructive-bg);
}

.ui-button[data-t-variant="tertiary"][data-destructive]:focus {
    background-color: var(--ui-button-tertiary-destructive-bg-active);
}

/* stylelint-disable-next-line no-descending-specificity */
.ui-button[data-t-variant="tertiary"]:disabled,
.ui-button[data-t-variant="tertiary"][data-destructive]:disabled {
    --ui-button-text-color: var(--ui-button-tertiary-text-disabled);
}

.ui-button[data-t-variant="tertiary"][data-destructive]:not(.ui-button--disable-hover):hover {
    background-color: var(--ui-button-tertiary-destructive-bg-hover);
}

/* Subtle */
.ui-button[data-t-variant="subtle"],
.ui-button[data-t-variant="subtle"][data-destructive] {
    --ui-button-text-color: var(--theme-fill-20);

    display: initial;
    height: auto;
    padding: 0;
    font-weight: inherit;
    background: none;
}

.ui-button[data-t-variant="subtle"][data-destructive] {
    --ui-button-text-color: var(--theme-fill-20);
}

.ui-button[data-t-variant="subtle"][data-destructive]:hover {
    --ui-button-text-color: var(--theme-critical-fill);
}

.ui-button[data-t-variant="subtle"][data-destructive]:focus {
    --ui-button-text-color: var(--theme-critical-10);
}

.ui-button[data-t-variant="subtle"] span:not(.ui-button__icon) {
    text-decoration: underline;
}

@media (min-width: 700px) {
    .ui-button[data-t-variant="subtle"] span:not(.ui-button__icon) {
        text-decoration: none;
    }
}

.ui-button[data-t-variant="subtle"]:hover {
    --ui-button-text-color: var(--theme-fill-10);
}

.ui-button[data-t-variant="subtle"]:focus {
    --ui-button-text-color: var(--ui-button-tertiary-text);
}

.ui-button[data-t-variant="subtle"] span:not(.ui-button__icon):hover,
.ui-button[data-t-variant="subtle"][data-destructive] span:not(.ui-button__icon):hover {
    text-decoration: underline;
}

.ui-button[data-t-variant="subtle"][data-disabled],
.ui-button[data-t-variant="subtle"][data-destructive][data-disabled] {
    --ui-button-text-color: var(--theme-fill-30);
}

/* Row */
.ui-button[data-t-variant="row"],
.ui-button[data-t-variant="row"][data-destructive] {
    --ui-button-text-color: var(--theme-text-10);

    position: relative;
    display: flex;
    gap: 0;
    justify-content: space-between;
    height: auto;
    padding: var(--space-x2) 0;
    overflow: visible;
    font-weight: inherit;
    background: none;
    border-bottom: 1px solid var(--theme-divider-20);
    border-radius: 0;
    transition: border-color 0.1s ease;
}

.ui-button[data-t-variant="row"][data-t-align="flex-end"],
.ui-button[data-t-variant="row"][data-t-align="flex-end"][data-destructive] {
    justify-content: flex-end;
}

.ui-button[data-t-variant="row"][data-destructive] {
    --ui-button-text-color: var(--theme-critical-text);
}

.ui-button[data-t-variant="row"][data-disabled],
.ui-button[data-t-variant="row"][data-destructive][data-disabled] {
    --ui-button-text-color: var(--theme-text-30);
}

.ui-button[data-t-variant="row"]::before,
.ui-button[data-t-variant="row"][data-destructive]::before {
    position: absolute;
    top: 0;
    left: calc(var(--space-x1_5) * -1);
    display: block;
    width: calc(100% + calc(var(--space-x1_5) * 2));
    height: 100%;
    content: '';
    background-color: var(--theme-emphasis-40);
    border-radius: var(--theme-border-radius-input);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.ui-button[data-t-variant="row"][data-destructive]::before {
    background-color: var(--theme-fill-40);
}

.ui-button[data-t-variant="row"]:hover,
.ui-button[data-t-variant="row"][data-destructive]:hover {
    border-color: transparent;
}

.ui-button[data-t-variant="row"]:hover::before,
.ui-button[data-t-variant="row"][data-destructive]:hover::before {
    opacity: 1;
}

.ui-button[data-t-variant="row"]:active::before {
    background-color: var(--theme-emphasis-30);
}

.ui-button[data-t-variant="row"][data-destructive]:active::before {
    background-color: var(--theme-fill-30);
}

/* stylelint-disable-next-line no-descending-specificity */
.ui-button[data-t-variant="row"] .ui-button__label {
    width: 100%;
    text-align: left;
}

.ui-button[data-t-variant="row"] .ui-button__icon,
.ui-button[data-t-variant="row"][data-destructive] .ui-button__icon {
    order: 2;
}

/* stylelint-disable-next-line no-descending-specificity */
.ui-button[data-t-variant="row"] span,
.ui-button[data-t-variant="row"][data-destructive] span {
    position: relative;
}

/* Link */
.ui-button[data-t-element="link"] {
    --ui-button-text-color: var(--theme-link-color);

    display: initial;
    height: auto;
    padding: 0;
    font-weight: inherit;
    text-decoration: underline;
    background: none;
}

@media (min-width: 700px) {
    .ui-button[data-t-element="link"] {
        text-decoration: none;
    }
}

.ui-button[data-t-element="link"]:hover,
.ui-button[data-t-element="link"]:focus {
    opacity: 0.6;
}

.ui-button[data-t-element="link"][data-contrast] {
    --ui-button-text-color: var(--theme-text-inverse);
}

.ui-button__overlay {
    /* opaque buttons override this */
    position: absolute !important;
    top: 0;
    left: 0;
    display: flex;
    gap: var(--space);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--theme-body-text-color);
    background-color: var(--theme-surface-body-overlay);
}

.ui-button__overlay--success {
    color: var(--theme-success-fill-contrast);
    background-color: var(--theme-success-fill);
}
