.ui-breadcrumb {
    font-size: var(--theme-font-size-minus-1);
    line-height: var(--theme-font-size-minus-2-line-height);
    color: var(--theme-text-20);
    letter-spacing: var(--theme-font-size-minus-2-letter-spacing);
}

.ui-breadcrumb[data-uppercase] {
    text-transform: uppercase;
}

/* Size */
.ui-breadcrumb[data-t-size="medium"] {
    font-size: var(--theme-h5-font-size);
}

.ui-breadcrumb[data-t-size="large"] {
    font-size: var(--theme-h4-font-size);
}

.ui-breadcrumb li {
    display: inline;
}

.ui-breadcrumb li + li::before {
    padding: 0 2px;
    content: '/\00a0';
}

.ui-breadcrumb li span {
    color: var(--theme-text-10);
}

.ui-breadcrumb li a {
    color: inherit;
}

@media (min-width: 700px) {
    .ui-breadcrumb li a {
        text-decoration: none;
    }
}

.ui-breadcrumb li a:hover {
    opacity: 0.6;
}
