.ui-row {
    position: relative;
    display: flex;
    gap: var(--space-x2);
    align-items: center;
    padding: var(--space) 0;
    font-size: var(--theme-font-size-minus-1);
    line-height: var(--theme-font-size-minus-1-line-height);
    cursor: pointer;
    border-bottom: 1px solid var(--theme-divider-20);
}

.ui-row[data-disabled] {
    pointer-events: none;
    cursor: not-allowed;
}

.ui-row__leading,
.ui-row__label,
.ui-row__sublabel,
.ui-row__trailing {
    position: relative;
    color: var(--theme-label-color);
}

.ui-row__label {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-weight: var(--theme-font-weight-medium);
    color: var(--theme-text-10);
}

.ui-row__sublabel {
    font-weight: var(--theme-font-weight-light);
    color: var(--theme-text-10);
}

.ui-row[data-disabled] .ui-row__leading,
.ui-row[data-disabled] .ui-row__label,
.ui-row[data-disabled] .ui-row__sublabel,
.ui-row[data-disabled] .ui-row__trailing {
    color: var(--theme-text-30);
}

.ui-row[data-selected]:not([data-disabled]) .ui-row__leading,
.ui-row[data-selected]:not([data-disabled]) .ui-row__label,
.ui-row[data-selected]:not([data-disabled]) .ui-row__sublabel,
.ui-row[data-selected]:not([data-disabled]) .ui-row__trailing {
    color: var(--theme-emphasis-text);
}

.ui-row:hover,
.ui-row[data-selected] {
    border-color: transparent;
}

.ui-row::before {
    position: absolute;
    top: 0;
    left: calc(var(--space) * -1);
    display: block;
    width: calc(100% + var(--space-x2));
    height: 100%;
    content: '';
    background-color: var(--theme-emphasis-40);
    border-radius: var(--theme-border-radius-card);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.ui-row:not([data-selected]):active::before {
    background-color: var(--theme-emphasis-30);
}

/* stylelint-disable-next-line no-descending-specificity */
.ui-row:hover::before,
.ui-row[selected]:not([data-disabled])::before {
    opacity: 1;
}
